*{
margin: 0;
padding:0;
box-sizing:border-box;




}
a, a:hover{


    text-decoration: none;
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: #007BFF;


}
.top-bar span{
    color:#fff;


}
.top-bar ul{
    list-style: none;
    display:flex;
    background: #007BFF;

}
.top-bar li{

margin:0px 5px;


}
.top-bar a{
    color:#fff;


}
.top-bar a{
    color: #fff;


}
.top-bar a:hover{
    color: #007BFF;


}

nav{

    background:#222;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}
nav a{
    color: #FFF;

}
.nav a:hover{
    color:#ef4b;

}
.logo {
    flex: 1;

}
.logo a{
    display:flex;
    align-items: center;
    font-size: 20px;

}
.logo a:hover{
    color: #fff;

}
.menu{
    display:flex;
    align-items: center;
    list-style: none;
    

}
.menu li{
    padding: 15px 10px;
    font-size: 16px;


}
.toggle{
font-size: 30px;
display:none;




}

.logo img{
    width: 40px;
    margin-right: 10px;



}











body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}
header {
    
    color: white;
    padding: 1em 0;
    text-align: center;
}

section {
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
}

h1, h2 {
    color: #007BFF;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 0.5em 0;
}

#cta {
    text-align: center;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
}

.btn-primary {
    background-color: #007BFF;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

footer {
    background: #f1f1f1;
    color: #333;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}